
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">RestauranteC</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Ver productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Agregar productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Eliminar Producto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  

  <header class="jumbotron jumbotron-fluid text-center">
    <div class="container">
      <h1 class="display-4">Bienvenido al Restaurantec</h1>
      <p class="lead">Disfruta de la mejor comida en un ambiente acogedor.</p>
      <a href="#" class="btn btn-primary">Ver menú</a>
    </div>g
  </header>

    <!-- Contenido principal -->
    <main class="container">
        <h2 class="text-center">Nuestros Platos Destacados</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4">
              <img src="https://media.admagazine.com/photos/618a627fa9f7fab6f0622d4e/4:3/w_1412,h_1059,c_limit/81817.jpg" class="card-img-top" alt="Nombre del plato">
              <div class="card-body">
                <h5 class="card-title">Nombre del Plato</h5>
                <p class="card-text">Descripción del plato. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="#" class="btn btn-primary">Ver detalles</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-md-4">
              <div class="card mb-4">
                <img src="https://media.admagazine.com/photos/618a627fa9f7fab6f0622d4e/4:3/w_1412,h_1059,c_limit/81817.jpg" class="card-img-top" alt="Nombre del plato">
                <div class="card-body">
                  <h5 class="card-title">Nombre del Plato</h5>
                  <p class="card-text">Descripción del plato. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  <a href="#" class="btn btn-primary">Ver detalles</a>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Repite este bloque para cada plato destacado -->
       
      </main>